@font-face {
  font-family: 'DINPro-Regular';
  src: url('../fonts/DINPro-Regular.eot');
  src: url('../fonts/DINPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/DINPro-Regular.woff2') format('woff2'), url('../fonts/DINPro-Regular.woff') format('woff'), url('../fonts/DINPro-Regular.ttf') format('truetype'), url('../fonts/DINPro-Regular.svg#DINPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINPro-Medium';
  src: url('../fonts/DINPro-Medium.eot');
  src: url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/DINPro-Medium.woff2') format('woff2'), url('../fonts/DINPro-Medium.woff') format('woff'), url('../fonts/DINPro-Medium.ttf') format('truetype'), url('../fonts/DINPro-Medium.svg#DINPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINPro-Light';
  src: url('../fonts/DINPro-Light.eot');
  src: url('../fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/DINPro-Light.woff2') format('woff2'), url('../fonts/DINPro-Light.woff') format('woff'), url('../fonts/DINPro-Light.ttf') format('truetype'), url('../fonts/DINPro-Light.svg#DINPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINPro-Bold';
  src: url('../fonts/DINPro-Bold.eot');
  src: url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/DINPro-Bold.woff2') format('woff2'), url('../fonts/DINPro-Bold.woff') format('woff'), url('../fonts/DINPro-Bold.ttf') format('truetype'), url('../fonts/DINPro-Bold.svg#DINPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon {
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}
.icon-hammer {
  width: 33px;
  height: 36px;
  background-position: -2px -2px;
}
.icon-key {
  width: 33px;
  height: 30px;
  background-position: -39px -2px;
}
.icon-phone {
  width: 17px;
  height: 29px;
  background-position: -76px -2px;
}
.icon-radio {
  width: 34px;
  height: 32px;
  background-position: -97px -2px;
}
.icon-roller {
  width: 35px;
  height: 32px;
  background-position: -135px -2px;
}
.icon-search {
  width: 18px;
  height: 18px;
  background-position: -174px -2px;
}
.icon-video-circle {
  width: 40px;
  height: 40px;
  background-position: -196px -2px;
}
.icon-video-square {
  width: 16px;
  height: 16px;
  background-position: -240px -2px;
}
